* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
}
body {
    margin: 0;
    padding: 0;
}
=======
    box-sizing: border-box;
}
/* body {
    background-image: url(/IMG_9420.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
/* body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333;
} */

.welcome {
    text-align: center;
    background-color: #6a1b4d;
    padding: 16px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}



>>>>>>> 8097402ae25697debfee4cdd919c109b92c78cc9
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #fff;
    background-color:#FFF;
    margin-bottom: 0;
<<<<<<< HEAD
    |
 }
 .brand {
=======
    
 }
 

.brand {
>>>>>>> 8097402ae25697debfee4cdd919c109b92c78cc9
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 25px;
    font-weight: 10px;
}
.part1 {
    margin-right: 0px;
<<<<<<< HEAD
    color: #f36666b8;
      font-size: 25px;
    font-weight: 10px;
}
.part2 {
    color: #676666; 
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 30px;
    
=======
    color: #333;
}
.part2 {
    color: #f36666b8;
}

nav ul {
    display: flex;
    /* justify-content: right; */
    /* color:#333;
    padding: 30px 0; */
     list-style: none;
    /* margin-right: 20px; */
    
}
 nav ul li {
    margin-left: 30px;
>>>>>>> 8097402ae25697debfee4cdd919c109b92c78cc9
 }
nav ul li a {
    text-decoration: none;
    color: #333;
   font-size: 16px;
   transition: 0.3s;
}
nav ul li a:hover {
<<<<<<< HEAD
   color: #8e5562;
   text-decoration: underline;
}
.products1 {
    color: #cc6ba7e0;
    text-decoration:none ;
    position: relative;
    padding-bottom: 5px;
}
.products1:hover {
    color: #5c1942;
}
.hero1 {
    position: relative;
}
.hero1-img {
    width: 100%;
    height: 180PX;
    object-fit: cover;
    margin-bottom: 0;
    display: block;
    
}
.hero1-text {
    position: absolute;
    top: 45px;
    left: 30px;
    /* transform: translate(-50%); */
    color: black;
    font-size: 20px;
    
}
.hero1-text h1 {
    font-weight: 300;
}
.parta {
    color: #5c1942;

}
/* body {
  margin: 0;
  /* font-family: Arial; */


.products {
  text-align: center;
  padding: 50px;
  background-color: #f7f1f3;
  margin-top: 0;
}

.products h2 {
  margin-bottom: 40px;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 200px;
  border-radius: 10px;
  background: #ffe4ec;
  padding: 10px;
}

.product-card h3 {
  margin: 15px 0 5px;
}

.product-card p {
  color: #ff4d79;
  font-weight: bold;
}

.product-card button {
  margin-top: 10px;
  background: #ff4d79;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product-card button:hover {
  background: #e6005c;
}
#foundation {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
#eye {
  width: 200px;
  height:250px ;
  object-fit: cover;
}
=======
   color: #9b6d77;
}
/* .hero {
    margin-top: 0;
} */
.hero-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
} 
.hero-text {
    position: absolute;
    top: 30%;
    left: 60px;
    /* transform: translate(-50%,-50%); */
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: 30px;
    color: black;
    margin-left: 30px;
 }
 #new {
    font-size: 15px;
    margin-bottom: 10px;
    color: #fe4f4f8f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
    
 
.hero h6 {
    color: #863165;
}
#home {
    /* padding-top: -5px; */
    margin-top: 10px;
    font-size: 20px;
}
/* #button {
    margin-top: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right,#d4a5a5,#f1bcbc;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s; */


.btn {
    width: 200px;
    height: 50px;
    margin-top: 35px;
    background-color:#f57979c4;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover {
    background-color: #a83a6d;
    transform: scale(1.05);
    transition: 0.3s;

}
/* .icon {
    margin-top: 50px;
    font-size: 20px;

}
#text {
    margin-top: auto;
    margin-left: -39px;
    font-size: 13px;
    color: #454444; */
.box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 76px;
    /* justify-content: space-between; */
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.emoji {
    
    font-size: 20px;
    margin-top: 10px;
}
.text {
    font-size: 13px;
    color: #454444;
}
.line {
    margin: 0 10px;
    font-size: 20px;
}
.line {
    
    width: 1px;
    height: 70px;
    background-color: #8a2d68;
}


>>>>>>> 8097402ae25697debfee4cdd919c109b92c78cc9
